name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Many color libraries just need this to be set to any value, but at least
  # one distinguishes color depth, where "3" -> "256-bit color".
  FORCE_COLOR: 3
  PROJECT_NAME: "hpyx"

jobs:
  checks:
    name: Check ${{ matrix.pixi-env }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        pixi-env: ["py313t", "py313"]
        runs-on: [ubuntu-latest, macos-14]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@v0.8.11
        with:
          pixi-version: v0.48.2
          cache: true
      - name: Test package
        run: pixi run -e ${{ matrix.pixi-env }} test
